* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secundary-color);
}

a, li{
    text-decoration: none;
    list-style: none;
}

legend {
    text-align: left;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    min-width: 360px;
}

table caption {
    text-align: left;
    font-style: italic;
    font-size: 17px;
    margin-bottom: 10px;
}

table, th, td {
    padding: 3px;

    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: left;
}

th, tfoot {
    background-color: lightgrey;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 1;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 45px;
}

h5 {
    font-size: 40px;
}

h6 {
    font-size: 30px; 
}