.intro-content {
    position: relative;
    top: -40px;
    
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.intro-text-content p {
    font-weight: 200;
}

.intro-img img, .intro-img svg{
    max-width: 100%;
    height: auto;
    margin-left: 90px;
    margin-bottom: 0px;
}

.result-content {
    max-width: 640px;
    gap: 30px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result p {
    margin-bottom: 100px;
    line-height: 1.5;
    font-weight: 100;
}

.result-space {
    height: 100px;
}

.grid-one-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
}

.grid-description {
    padding-bottom: 60px;
}

#grid-description-gallery, #grid-heading-gallery {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    counter-reset: grid-counter;
    
    gap: 20px;
}

.grid h3 {
    font-size: 35px;

    position: relative;
    padding-left: 90px;
    padding-bottom: 10px;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-size: 70px;
    font-style: italic;

    position: absolute;
    top: -30px;
    left: 15px;
    transform: rotate(10deg);
}

.grid-one p {
    font-weight: 200;
}

.gallery-img {
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.tabela-conteiner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;  
    text-align: center;

    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
}

.tabela-conteiner h2 {
    margin-top: 240px;
    font-size: 80px;
}

.tabela-conteiner p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

.contact-forms {
    grid-column: span 2;
}

.contact-forms .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-grupo {
    flex: 1 1 320px;
    margin-bottom: 10px;
}

.form-grupo label {
    display: block;
}

.form-grupo input, .form-grupo textarea {
    display: block;
    border: none;
    background: white;
    padding: 15px 15px;
    width: 97%;
    font-size: 25px;
    gap: 30px;
}

.form-grupo textarea {
    width: 99%;
}

.form-grupo button {
    margin-top: 10px;
    border: 5px solid white;
    background: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-bottom: 20px;
}

.form-grupo button:hover {
    background-color: white;
    color: var(--primary-color);
}

.contact-space {
    height: 80px;
}

.footer {
    text-align: center;
}

.back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.close-menu {
    display: none;
}

@media (max-width: 800px) {
    .section {
        min-height: 100vh;
        height: auto;
    }

    .grid, .intro-content {
        grid-template-columns: 1fr;
    }

    .grid h3::before {
        font-size: 50px;
        top: -15px;
        left: 30px;
    }

    .grid-heading, .grid-description {
        text-align: center;
    }

    .result-space {
        height: 20px;
    }

    .menu-space {
        height: 90px;
    }

    h1 {
        font-size: 10px;
    }

    h2 {
        font-size: 40px;
    }

    .tabela-conteiner h2 {
        font-size: 40px;
        margin-top: 40px;
    }

    .menu {
        bottom: 0;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 20px;
        right: 20px;
        background-color: var(--primary-color);
        color: white;
        font-size: 30px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5px;
        cursor: pointer;
    }
    
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-space {
        display: none;
    }
}